body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #0be1f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.card h3 {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0;
}

.card img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.card .inf {
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 10px;
}

.card .info p:first-of-type {
    font-style: italic;
    margin: 10px 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.card ul li span {
    font-weight: bold;
}

.card .info p:last-of-type {
    margin: 10px 0;
}
